.memory-game {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin: auto;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    perspective: 1000px;
}

.memory-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.match {
    opacity: 0.5;
    pointer-events: none;
}